* {
    box-sizing: border-box;
}

body {
    font: 16px Arial;
}

#siteName {
    text-align: left;
    position: absolute;
    padding-left: 1.6rem;
    padding-top: 0.625rem;
    /*margin: 6rem auto;*/
}

.autocomplete {
    width: 100%;
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}

input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}

input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
}

input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}





/* Search Bar */

.searchContainer {
    /*display: flex;*/
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 100%;
    min-width: 31.25rem;
    max-width: 31.25rem;
    margin: 6rem auto;
}

.label {
    font-size: .625rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: +1.3px;
    margin-bottom: 1rem;
}

.searchBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#searchInput {
    width: 100%;
    height: 2.8rem;
    background: #f5f5f5;
    outline: none;
    border: none;
    border-radius: 1.625rem;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 1rem;
}

#searchSubmit {
    width: 3.5rem;
    height: 2.8rem;
    margin-left: -3.5rem;
    position: relative;
    background: none;
    border: none;
    outline: none;
}

#searchSubmit:hover {
    cursor: pointer;
}
