h1 {
    margin: 2% auto 1%;
    text-align: center;
}

h2 {
    text-align: center;
    margin-bottom: 1%;
}

#searchDiv {
    display: none;
}

#results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    width: 80%;
}

#results img {
    width: 200px;
    margin: 10px;
    border-radius: 10px;
}

#results img:hover {
    cursor: pointer;
    color: beige;
    box-shadow: 0 5px 5px rgba(213, 213, 190,2), 
                0 10px 25px rgba(166,173,201,2);
}

#movieInfo {
    display: none;
    align-items: flex-start;
}

#movieInfo img {
    max-width: 200px;
    margin: 10px;
    border-radius: 10px;
    flex-grow: 1;
}

#innerMovieInfo {
    flex-grow: 3;
    margin: 2% 0 0 2%;
}

ul {
    margin-left: 1%;
}

#title {
    font-size: 3em;
}